@font-face {
  font-family: 'acre';
  src: url("fonts/acre-medium-webfont.eot");
  src: url("fonts/acre-medium-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/acre-medium-webfont.woff2") format("woff2"), url("fonts/acre-medium-webfont.woff") format("woff"), url("fonts/acre-medium-webfont.ttf") format("truetype"), url("fonts/acre-medium-webfont.svg#acremedium") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  background: white;
  color: #0E2E54;
  font-family: 'Open Sans', sans-serif; }

div {
  border: 1px solid black;
  /* border-bottom: 1px solid black; */ }

section {
  border: 1px solid black; }

/* LAYOUT */
body {
  position: relative; }

.container {
  width: calc(100% - 120px);
  right: 0;
  position: absolute;
  /* opacity: 0.5; */
  height: 100vh; }

.full-height {
  padding: 50px;
  height: calc(100vh - 100px);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.6; }
  .full-height p.lead {
    font-size: 1.1em;
    padding-bottom: 1em; }
  .full-height svg {
    display: block;
    margin: 0 auto; }

.section-title {
  font-size: 50px;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 150px; }

.rotated-up-center {
  -ms-transform: translate(0px, -50px) rotate(-90deg);
  -moz-transform: translate(0px, -50px) rotate(-90deg);
  -webkit-transform: translate(0px, -50px) rotate(-90deg);
  transform: translate(0px, -50px) rotate(-90deg);
  filter: none;
  /* Mandatory for IE9 to show the vertical text correctly */
  -ms-transform-origin: center center 0;
  -moz-transform-origin: center center 0;
  -webkit-transform-origin: center center  0;
  transform-origin: center center 0; }

.rotated-up-rb {
  -ms-transform: translate(-50px, -100px) rotate(-90deg);
  -moz-transform: translate(-50px, -100px) rotate(-90deg);
  -webkit-transform: translate(-50px, -100px) rotate(-90deg);
  transform: translate(-50px, -100px) rotate(-90deg);
  filter: none;
  /* Mandatory for IE9 to show the vertical text correctly */
  -ms-transform-origin: center center 0;
  -moz-transform-origin: center center 0;
  -webkit-transform-origin: center center  0;
  transform-origin: right bottom; }

.navbar {
  background-color: #0E2E54;
  height: 100vh;
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0; }
  .navbar .nav-link {
    display: inline-block;
    padding: 10px; }
    .navbar .nav-link.active {
      font-weight: 800; }
    .navbar .nav-link a {
      color: #A89B65;
      text-decoration: none; }
    .navbar .nav-link:hover {
      cursor: pointer; }
  .navbar .align-top {
    display: flex;
    flex-direction: column;
    margin-top: 20px; }
  .navbar .contact {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px; }
    .navbar .contact a {
      color: #A89B65; }
  .navbar .align-bottom {
    display: inline-block;
    margin-bottom: 30px;
    position: relative; }
    .navbar .align-bottom .brand {
      font-family: 'acre', 'Open Sans', sans-serif;
      color: #A89B65;
      text-transform: uppercase;
      font-weight: 600px;
      font-size: 36px;
      line-height: 85%; }
      .navbar .align-bottom .brand span {
        letter-spacing: 2px; }

/* PAGE SIZE*/
/* .full-height {
  height: calc(100vh - 70px);
} */
.left-content {
  position: fixed;
  top: 0;
  left: 120px;
  width: 80%; }
  .left-content .hero {
    width: 45%;
    height: 100vh;
    position: absolute;
    right: 170px;
    transition: 1.5s;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .left-content .hero .hero-title {
      font-family: 'acre', 'Open Sans', sans-serif;
      font-size: 80px;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 85%;
      margin-bottom: 0.5em; }
      .left-content .hero .hero-title span {
        letter-spacing: 3px; }

.right-content {
  height: 100vh;
  position: absolute;
  right: 0;
  width: 60%; }
  .right-content .full-height .skills li {
    display: inline-block;
    width: 19%;
    text-align: center;
    margin-bottom: 10px; }
    .right-content .full-height .skills li i {
      font-size: 40px;
      display: block; }
    .right-content .full-height .skills li img {
      width: 100%; }
  .right-content .full-height form {
    display: flex;
    flex-direction: column; }

.portfolio-container {
  padding: 50px; }

/* CONTACT LINKS */
.contact {
  /* STYLES IF THIS WERE IN THE SIDE FOOTER */
  /* z-index: 10;
  background-color: green;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  margin: 30px;
  padding: 20px; */
  /* ---------------------------------------- */ }

/* MISC */
.center {
  margin: 0 auto; }

/*# sourceMappingURL=style.css.map */
